<header>
  <div class="title__container">
      <h1 class="title__text">
          Viðburðasíðan
      </h1>
  </div>
  <div class="header__container">
      <div class="header__nav">
          <a href="/">
             Viðburðir
          </a>
      </div>
      <div class="header__nav">
          <a href="/">
              Login
          </a>
  </div>
</header>
