<header>    
    <div class="title__container">
        <h1 class="title__text">
            Log in
        </h1>
    </div>
    <div class="header__container">
        <div class="header__nav">
            <a href="/">
                Home
            </a>
        </div>
        <div class="header__nav">
            <a href="/">
                More
            </a>
        </div>
        <div class="header__nav">
            <a href="/">
                Login
            </a>
    </div>
</header>
