<div class="event__container">
  <h1> Viðburðir </h1>
  <ul>
      <% for (var i = 0; i < events.length; i++) { %>
          <li>
              <a href="/events/<%= events[i].id %>">
                  <%= events[i].name %>
              </a>
          </li>
      <% } %>
  </ul>
</div>
